body{
    background-color: coral;
}

h1{
    color: orangered;
    text-align: center;
    margin-bottom: 0%;
    margin-right: 0%;
    
}

div img {
    height:150px;
    width:150px;
    
}

a:active {
    color: blue;
}

a:hover {
    color: orange;
}

a:visited {
    color:purple;

}

a:focus {
    color:darkgreen;
}
.para {
    background-color: rgb(233, 210, 180);
    background-size:cover;
    visibility: visible;
    width: 400px;
    height: auto;
}