body{
    background-color: rgb(187, 180, 180);
}

/*
    the below selector is used as the classes
    have the same properties and the same code
    must not be repeated to every element.
 */

.homepage ,.transparent ,.para {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 25px 25px 25px 25px;
}

 /* width property may not be necessary 
 as the div's are aligned 
 to center and auto margined*/

 /*
    the below selector is used as the classes
    have the same properties and the same code
    must not be repeated to every element.
 */

.transparent ,.para {
    width: 2000px;
}

.homepage {
    background-color: coral;
    width: 2150px;
    height: 2800px;
}

.transparent {
    background-color: palevioletred;

}

.para {
    background-color: rgb(233, 210, 180);
    font-size: 50px;
}


.transparent h1{
    color: rgb(38, 20, 20);
    text-align: center;
    font-size: 70px;
}

.transparent img {
    height:auto;
    width:450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    
}
/* Active: Before clicking the link*/
a:active {
    color: blue;
}
/* Hover: displays when it is hovered*/
a:hover {
    color: #0b0700;
}
/* visited: displays after visiting link*/
a:visited {
    color:purple;
}
/* Focus: when we click and hold*/
a:focus {
    color:darkgreen;
}

/**/
.toppage h1 {
    color: rgb(38, 20, 20);
    text-align: center;
}


div img {
    height:auto;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.item {
    height:auto;
    background-color: #e9d2b4 ;
    width: 550px;
    display: block;
    padding: 25px 25px 25px 25px;
    margin-right: auto;
    margin-left: auto; 
}

.toppage {
    height:auto;
    background-color: rgb(227, 192, 128);
    width: 600px;
    display: block;
    padding: 25px 25px 50px 25px;
    margin-right: auto;
    margin-left: auto; 
    /*border: 5px solid orangered;*/
}
h2 {
    color: rgb(117, 10, 10);
    
}

.item h2 {
    color: rgb(117, 10, 10);
    font-size: 45px;
}

li{
    color: indigo;
    
}

.float-parent{
 /*background-color:cadetblue; */
 height: 1770px; 
 width: 2100px;
 margin-left: auto;
 margin-right: auto;
 padding: 50px 25px 50px 25px;
} 

.float-child {
    float: left;
    padding: 20px;
    /*border: 3px dotted green;*/
    height: auto;
    /*background-color: aliceblue;*/
    padding: 25px 25px 25px 25px;
    /*margin-top: auto;
    margin-bottom: auto;*/
}
