body{
    background-color: aquamarine;
}

/*
    the below selector is used as the classes
    have the same properties and the same code
    must not be repeated to every element.
 */

.homepage ,.transparent ,.para {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 25px 25px 25px 25px;
}

 /* width property may not be necessary 
 as the div's are aligned 
 to center and auto margined*/

 /*
    the below selector is used as the classes
    have the same properties and the same code
    must not be repeated to every element.
 */

.transparent ,.para {
    width: 2100px;
}

.homepage {
    background-color: coral;
    width: 2300px;
    height: auto;
}

.transparent {
    background-color: palevioletred;

}

.para {
    background-color: rgb(233, 210, 180);
    
}


h1{
    color: yellow;
    text-align: center;
    
}

.transparent img {
    height:auto;
    width:150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    
}
/* Active: Before clicking the link*/
a:active {
    color: blue;
}
/* Hover: displays when it is hovered*/
a:hover {
    color: #0b0700;
}
/* visited: displays after visiting link*/
a:visited {
    color:purple;
}
/* Focus: when we click and hold*/
a:focus {
    color:darkgreen;
}

/**/
div img {
    height:auto;
    width: 650px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.item {
    height:auto;
    background-color: #e9d2b4 ;
    width: 600px;
    display: block;
    padding: 25px 25px 25px 25px;
    margin-right: auto;
    margin-left: auto; 
}

.toppage {
    height:auto;
    background-color: rgb(238, 80, 255);
    width: 650px;
    display: block;
    padding: 25px 25px 25px 25px;
    margin-right: auto;
    margin-left: auto; 
    border: 3px solid black;
}
h2 {
    color: rgb(117, 10, 10);
}
li{
    color: indigo;
}

.float-parent{
 background-color:cadetblue;  
 height: 2000px; 
 
} 

.float-child {
    float: left;
    padding: 20px;
    border: 3px dotted green;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: aliceblue;
}
